##########
# System #
##########

# macOS
.DS_Store


##########
# Remote #
##########

# SFTP (Sublime Text)
sftp-config.json


###############
# GPU cluster #
###############

*.sbatch


##########
# Python #
##########

**/__pycache__/
*.pyc
